mat-form-field {
    width: 100%;
    padding: 0;
    margin: 0;
}

p {
    margin: 8px 0;
}

.mat-dialog-content {
    margin-bottom: 15px;
}

.mat-button:not(.mat-raised-button) {
    margin-left: 25px;
}