table {
    width: 100%;
}

mat-header-cell {
    display: flex;
    justify-content: flex-end;
}

.actions {
    color: #808080;
    opacity: 0;
}

.mat-row:hover .actions {
    opacity: 100;
}

.mat-column-url {
    a:link,
    a:visited {
        text-decoration: none;
        color: #000000;
    }
}

.mat-column-action {
    width: 130px;
}

.spinner-overlay {
    position: relative;
    background: #ffff;
    top: 0px;
    z-index: 1;
}

.mat-spinner {
    margin: 0 auto;
    top: 20vh;
}

@media (max-width: 599px) {
    .actions {
        opacity: 100;
    }

    .mat-column-url {
        width: 40% !important;
        word-break: break-word;
        padding: 5px;
    }

    td.mat-cell:last-of-type {
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}
